/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 31-10-2018, 15:01:04
    Author     : eduar
*/

.emiratos_arabes1{
  background-color: red;
  height: 210px;
  width: 90px;
}

.emiratos_arabes2{
  background-color: green;
  height: 70px;
  width: 270px;
  margin-top: -210px;
  margin-left: 90px;
}

.emiratos_arabes3{
  background-color: black;
  height: 70px;
  width: 270px;
  margin-top: 70px;
  margin-left: 90px;
}