/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 31-10-2018, 15:01:25
    Author     : eduar
*/

.japon1{
  text-align: center;
  margin-top: 50px;
}

.japon2{
  margin-left: 390px;
  margin-top: 16px;
}
